language: python
sudo: false

addons:
    apt:
        packages:
            - libhdf5-serial-dev

python:
  - "2.7"
  - "3.4"
  - "3.6"

install:
  - pip install cython numpy
  - pip install -r requirements-tests.txt
  - pip install coveralls==0.5
  - pip install -e .

script: py.test -v --cov psyrun

after_success: coveralls
